.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginForm .loginButton {
  width: 100%;
  height: 40px;
  border: none;
}

.loginForm input {
  height: 30px;
  margin: 5px 0 10px 0;
  border-radius: 5px;
}
