.sliderControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 15px 0 10px 0;
  border: 2px solid hsl(239, 47%, 21%);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.sliderControls .slide {
  height: 100%;
  width: 100%;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 1;
  color: #fff;
}

.sliderControls .slide.signup {
  color: #000;
}

.sliderControls .slideTab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  background: linear-gradient(to left, hsl(239, 47%, 21%), hsl(237, 49%, 15%));
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.radioSignup:checked ~ .slideTab {
  left: 50%;
}

.radioSignup:checked ~ .login {
  color: #000;
}

.radioSignup:checked ~ .signup {
  color: #fff;
}

input[type="radio"] {
  display: none;
}
