.circle {
  height: 105px;
  width: 105px;
  background-color: hsla(0, 0%, 0%, 0.15);
  border-radius: 50%;
  z-index: 3;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid hsl(238, 48%, 37%);
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1024px) {
  .circle {
    margin-right: 2rem;
  }
}
