.gameSectionContainer {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  height: 450px;
  max-width: 400px;
}

.gameSectionContainer .circle {
  height: 130px;
  width: 130px;
  background-color: azure;
  border-radius: 50%;
  z-index: 3;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameSectionContainer .circle img {
  height: 50px;
}

.gameSectionContainer .circle.rock img {
  height: 44px;
}

.gameSectionContainer .topRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  position: relative;
  align-items: center;
}

.gameSectionContainer .topRow .transparentLine {
  position: absolute;
  top: 38%;
  background-color: hsla(0, 0%, 0%, 0.3);
  width: 100%;
  height: 15px;
}

.gameSectionContainer .bottomRow .transparentLine {
  position: absolute;
  left: 13%;
  background-color: hsla(0, 0%, 0%, 0.3);
  transform: rotate(50deg);
  width: 50%;
  height: 15px;
}

.gameSectionContainer .bottomRow .transparentLine:last-child {
  transform: rotate(-50deg);
  left: 33%;
}

.gameSectionContainer .bottomRow {
  display: flex;
  justify-content: center;
  position: relative;
}

.rock {
  border: 15px hsl(349, 70%, 56%) solid;
  box-shadow: 0px 5px hsl(349, 71%, 35%), inset 0px 5px hsl(217, 16%, 85%);
}

.paper {
  border: 15px hsl(230, 89%, 65%) solid;
  box-shadow: 0px 5px hsl(230, 89%, 60%), inset 0px 5px hsl(217, 16%, 85%);
}

.scissors {
  border: 15px hsl(40, 84%, 53%) solid;
  box-shadow: 0px 5px hsl(39, 89%, 35%), inset 0px 5px hsl(217, 16%, 85%);
}

.bottomRowText {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin-top: -1rem;
  letter-spacing: 1px;
}

.bottomRowText p:first-child {
  margin-left: 1.5rem;
}

.bottomRowDecision {
  composes: bottomRow;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.bottomRowDecision h1 {
  margin: 2rem 0 0.5rem 0;
  font-size: 50px;
}

.bottomRowDecision button {
  background-color: #fff;
  padding: 0.7rem 4rem;
  border-radius: 10px;
  letter-spacing: 1px;
  color: hsl(214, 47%, 23%);
}

@media screen and (min-width: 1024px) {
  .gameSectionContainer {
    width: 550px;
  }

  .gameSectionContainer .circle {
    height: 170px;
    width: 170px;
  }

  .rock {
    border: 23px hsl(349, 70%, 56%) solid;
    box-shadow: 0px 5px hsl(349, 71%, 35%), inset 0px 5px hsl(217, 16%, 85%);
  }

  .paper {
    border: 23px hsl(230, 89%, 65%) solid;
    box-shadow: 0px 5px hsl(230, 89%, 60%), inset 0px 5px hsl(217, 16%, 85%);
  }

  .scissors {
    border: 23px hsl(40, 84%, 53%) solid;
    box-shadow: 0px 5px hsl(39, 89%, 35%), inset 0px 5px hsl(217, 16%, 85%);
  }

  .gameSectionContainer .circle img {
    height: 65px;
  }

  .gameSectionContainer .circle.rock img {
    height: 60px;
  }

  .bottomRowText p:first-child {
    margin-left: 2.5rem;
  }

  .bottomRowText p:last-child {
    margin-right: 1rem;
  }

  .bottomRowDecision button:hover {
    cursor: pointer;
    color: red;
  }

  .circle:hover {
    cursor: pointer;
  }
}
